extends layout

block content
  if authorised && fname=="Admin"
    h2 
      span.btn.btn-success #{fname} 
      a(href="/user-process").btn.btn-outline-primary User Process
      a(href="/user-process-clear").btn.btn-outline-primary User Process Clear
      a(href='/register').btn.btn-outline-warning Register
    
      form(method="POST" action="daly-status")
        div.row.mt-3            
          div.col-md-6 
            input#dateInfo(type='date', name='dateInfo').form-control  
          div.col-md-6 
            button(type="submit").btn.btn-outline-primary Daly Status
      form(method="POST" action="monthly-status")
        div.row.mt-3                    
          div.col-md-4 
            select(id="userSelect", name="user_id" , required='required').form-control
                option(value="") --Select User--
                each user in users                   
                    option(value="#{user.user_id}") #{user.user_fname}      
          div.col-md-4 
            input#monthInfo(type='month', name='monthInfo').form-control                 
          div.col-md-4 
            button(type="submit").btn.btn-outline-primary Monthly Status     
    if typeof users != 'undefined'
    p 
      b Total Meal of this Month : #{users[0].total_all_meal}       
    table.table.table-hover.table-dark
        thead
            tr  
                th Name
                th Email 
                th Phone
                th Total Meal                 
        tbody
            for user in users
                tr                
                    td
                      a(href="/member-info/"+user.user_id).btn.btn-outline-info.btn-sm=user.user_fname
                    td
                      a(href="mailto:#{user.user_email}").btn.btn-outline-success.btn-sm=user.user_email
                    td
                      a(href="tel:#{user.user_phone}").btn.btn-outline-primary.btn-sm=user.user_phone
                    td
                      a(href="#").btn.btn-outline-warning.btn-sm=user.total_meal
  else if authorised
    h2 
      a(href="/user-status",).btn.btn-info #{fname} 
      //- span.btn.btn-success #{fname} 
      //- a(href="/user-status",).btn.btn-outline-primary User Status      
      form(method="POST" action="daly-status")
        div.row.mt-3                    
          div.col-md-6 
            input#dateInfo(type='date', name='dateInfo').form-control                  
          div.col-md-6 
            button(type="submit").btn.btn-outline-primary Daly Status    
      form(method="POST" action="monthly-status")
        div.row.mt-3                    
          div.col-md-4 
            select(id="userSelect", name="user_id" , required='required').form-control
                option(value="") --Select User--
                each user in users                   
                    option(value="#{user.user_id}") #{user.user_fname}      
          div.col-md-4 
            input#monthInfo(type='month', name='monthInfo').form-control                 
          div.col-md-4 
            button(type="submit").btn.btn-outline-primary Monthly Status  
    if typeof users != 'undefined'
    p 
      b Total Meal of this Month : #{users[0].total_all_meal}   
    table.table.table-hover.table-dark
        thead
            tr  
                th Name
                th Email 
                th Phone 
                th Total Meal                 
        tbody
            for user in users
                tr                
                    td
                      a(href="/member-info/"+user.user_id).btn.btn-outline-info.btn-sm=user.user_fname
                    td
                      a(href="mailto:#{user.user_email}").btn.btn-outline-success.btn-sm=user.user_email
                    td
                      a(href="tel:#{user.user_phone}").btn.btn-outline-primary.btn-sm=user.user_phone
                    td
                      a(href="#").btn.btn-outline-warning.btn-sm=user.total_meal
  else
    //- p Don't have an account yet? 
    //-   a(href='/register') Register
    p.alert.alert-warning You don't have an account, contact with Admin 
    a(href='/login').btn.btn-outline-info Login


     //- ul.list-group
    //-   each user in users
    //-     li.list-group-item.list-group-item-action.list-group-item-primary #{user.user_fname}-#{user.user_email}-#{user.user_phone}