extends layout

block content
  if authorised
    p Welcome #{fname} | 
      a(href="/exit") Log Out | 
      a(href="/") Home
    if typeof meals != 'undefined'
    table.table.table-success.table-striped
        thead
            tr  
                th Date_Name 
                th Breakfast 
                th Lauch 
                th Dinner
                th Action
        tbody
            for meal in meals
                tr                
                    td=moment(meal.meal_date ).format("DD/MM/YYYY")
                    td=meal.breakfast
                    td=meal.launch
                    td=meal.dinner
                    td
                      if meal.meal_date>new Date()
                        a(href="/edit-meal/"+meal.meal_id) Edit
                      else 
                        p Not Edit able
  else
    p Don't have an account yet? 
      a(href='/register') Register
    p Already have an account? 
      a(href='/login') Login